<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI助手</title>
    <script type="text/javascript" src="js/jquery.min.js" charset="utf-8"></script>
    <script>
        /**
         * 请求按钮的响应函数
         */
        function enableServerCamera(dom) {
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                url: "/enable_server_camera",
                data: JSON.stringify({"enable": $(dom).text() === "开始"} ),
                success: function (response) {
                    if (response.data){
                        $(dom).text("开始");
                    }else {
                        $(dom).text("暂停");
                        window.location.reload("#server_camera");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {}
            });
        }
    </script>
</head>
<body>
<h1>Video Streaming Demonstration</h1>
<img id="server_camera" src="/server_camera" height="500" alt="远程摄像头画面">
<button onclick="enableServerCamera(this)">暂停</button>
</body>
</html>